{{> head}}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Spider man</h1>
        <p>
            GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/spider.jpeg" class="img-thumbnail">
    </div>

</div>

{{> footer}}